.containerw {
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .sidebar {
    width: 8%;
    padding: 0;
  }
  
  .main-content {
    width: 100%;
    padding: 0;
  }
  
  .body-content {
    height: 90vh;


    padding: 20px;
  }